<%- include('partials/header.ejs')%>

<%- include('partials/content.ejs')%>


<% if (user) { %>
  <div class="container list">
  <h1>Hello <%=user.name%>!</h1>
  <h2>Artists</h2>
  <% user.artist.forEach(function(a){ %>
    <div class="artist-list">
      <p>
      <%= a.name %>
      </p>
      <a class="btn blue white-text" href="/artists/<%= a._id %>">DETAILS</a>
      <form action="/artists/<%= a._id %>?_method=DELETE" method="POST">
      <button type="submit" class="btn red white-text">DELETE ARTIST</button>
      </form>
    </div>
 <% }) %>
  </div>
<% } else { %>
  <div class="landing">
    <div class="container">
  <!-- <h1 class="white">Welcome</h1> -->
</div>
</div>
<% } %>

  <%- include('partials/footer.ejs')%>
</body>
</html>
