  <%- include('partials/header.ejs')%>

<% if (user) { %>
  <div class="container">
  <h1>Hello <%=user.name%>!</h1>
  <h3>Artists</h3>
  <% user.artist.forEach(function(a){ %>
    <tr>
      <p>
      <td><%= a.name %></td>
      </p>
      <p>
      <td><%= a.genre %></td>
      </p>
      <td><a href="/artists/<%= a._id %>">DETAILS</a></td>
    </tr>
 <% }) %>
  </div>
<% } else { %>
  <div class="container">
  <h1>Welcome</h1>
  <h3>Happy Listening! 🎧</h3>
</div>
<% } %>

  <%- include('partials/footer.ejs')%>
</body>
</html>
